body {
  color: #4b4bc0;
  background: darkgrey;
}

nav li a:hover {
  color: #1f1f79;
}

nav li a {
  transition: all 0.3 ease-in-out;
}

#logo {
  width: 50px;
  height: 50px;
}

section.hero {
  background: #cacaf1;
}

.size {
  background: #cacaf1;
}

.add-to-cart {
  border: 2px solid #4b4bc0;
  color: #4b4bc0;
  transition: all 0.3 ease-in-out;
}

.add-to-cart:hover {
  transition: all 0.3 ease-in-out;
  background: #4b4bc0;
  border-color: white;
  color: white;
}

.btn-primary {
  background: #4b4bc0;
  transition: all 0.3 ease-in-out;
}

.btn-primary:hover {
  transition: all 0.3 ease-in-out;
  background: #1f1f79;
}

section.cart {
  background: #cacaf1;
}

section.cart .amount {
  color: red;
}

