<section class="status">
    <div class="container mx-auto">
        <!-- TODO Edit style -->
        <div class="status-box w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track delivery status</h1>
                <h6 class="py-1 px-4"><%= order._id%></h6>
            </div>
            <ul>
                <li class="status_line text-sm md:text-xl pb-16"><span>Order placed</span></li>
                <li class="status_line text-sm md:text-xl pb-16"><span>Order confirmation</span></li>
                <li class="status_line text-sm md:text-xl pb-16"><span>Preparation</span></li>
                <li class="status_line text-sm md:text-xl pb-16"><span>Out of delivery</span></li>
                <li class="status_line text-sm md:text-xl"><span>Complete</span></li>
            </ul>
        </div>
    </div>
</section>