<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XD</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2269d1d11e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <nav class="container mx-auto">
        <div>
            <!-- TODO Add icon -->
            <!-- <img src="/img/logo.png" alt="logo"> -->
            <i class="fas fa-pizza-slice"></i>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Menu</a>
                </li>
                <li>
                    <a href="#">Offers</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <!-- TODO Add purchasing basket icon -->
                    <a href="#">XD</a>
                </li>
            </ul>
        </div>

        <div>
            <div>

            </div>
            <div>

            </div>
        </div>

    </nav>
    <h1>Homepage</h1>
    <script src="/js/app.js"></script>
</body>

</html>