@import './variables';


body{
    color: $primary;
    background: $dark;
    height:4000px;
}

nav li a:hover{
    color: $primary-hover;
}

nav li a{
    transition: $smooth;
}

// nav li:last-child a {
//     background: $primary;
// }

#logo{
    width: 50px;
    height: 50px;
}

section.hero{
    background: $secondary
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
}

.add-to-cart:hover{
    transition: $smooth;
    background: $primary;
    border-color: $pure;
    color: $pure;
}